Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleEvaluated.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleEvaluated">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleEvaluated?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="Delete">
        <part name="parameters" element="tns:Delete"/>
    </message>
    <message name="DeleteResponse">
        <part name="parameters" element="tns:DeleteResponse"/>
    </message>
    <message name="GetEvaluatedById">
        <part name="parameters" element="tns:GetEvaluatedById"/>
    </message>
    <message name="GetEvaluatedByIdResponse">
        <part name="parameters" element="tns:GetEvaluatedByIdResponse"/>
    </message>
    <message name="IOException">
        <part name="fault" element="tns:IOException"/>
    </message>
    <message name="RegisterEvaluated">
        <part name="parameters" element="tns:RegisterEvaluated"/>
    </message>
    <message name="RegisterEvaluatedResponse">
        <part name="parameters" element="tns:RegisterEvaluatedResponse"/>
    </message>
    <portType name="ModuleEvaluated">
        <operation name="Delete">
            <input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluated/DeleteRequest" message="tns:Delete"/>
            <output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluated/DeleteResponse" message="tns:DeleteResponse"/>
        </operation>
        <operation name="GetEvaluatedById">
            <input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluated/GetEvaluatedByIdRequest" message="tns:GetEvaluatedById"/>
            <output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluated/GetEvaluatedByIdResponse" message="tns:GetEvaluatedByIdResponse"/>
            <fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluated/GetEvaluatedById/Fault/IOException"/>
        </operation>
        <operation name="RegisterEvaluated">
            <input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluated/RegisterEvaluatedRequest" message="tns:RegisterEvaluated"/>
            <output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluated/RegisterEvaluatedResponse" message="tns:RegisterEvaluatedResponse"/>
        </operation>
    </portType>
    <binding name="ModuleEvaluatedPortBinding" type="tns:ModuleEvaluated">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="Delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetEvaluatedById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
        </operation>
        <operation name="RegisterEvaluated">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ModuleEvaluated">
        <port name="ModuleEvaluatedPort" binding="tns:ModuleEvaluatedPortBinding">
            <soap:address location="http://localhost:8080/Competencias360Ws/ModuleEvaluated"/>
        </port>
    </service>
</definitions>