Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleResult.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleResult">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleResult?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="Delete">
        <part name="parameters" element="tns:Delete"/>
    </message>
    <message name="DeleteResponse">
        <part name="parameters" element="tns:DeleteResponse"/>
    </message>
    <message name="getResultById">
        <part name="parameters" element="tns:getResultById"/>
    </message>
    <message name="getResultByIdResponse">
        <part name="parameters" element="tns:getResultByIdResponse"/>
    </message>
    <message name="IOException">
        <part name="fault" element="tns:IOException"/>
    </message>
    <message name="getResultByGrade">
        <part name="parameters" element="tns:getResultByGrade"/>
    </message>
    <message name="getResultByGradeResponse">
        <part name="parameters" element="tns:getResultByGradeResponse"/>
    </message>
    <message name="RegisterResult">
        <part name="parameters" element="tns:RegisterResult"/>
    </message>
    <message name="RegisterResultResponse">
        <part name="parameters" element="tns:RegisterResultResponse"/>
    </message>
    <portType name="ModuleResult">
        <operation name="Delete">
            <input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/DeleteRequest" message="tns:Delete"/>
            <output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/DeleteResponse" message="tns:DeleteResponse"/>
        </operation>
        <operation name="getResultById">
            <input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/getResultByIdRequest" message="tns:getResultById"/>
            <output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/getResultByIdResponse" message="tns:getResultByIdResponse"/>
            <fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/getResultById/Fault/IOException"/>
        </operation>
        <operation name="getResultByGrade">
            <input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/getResultByGradeRequest" message="tns:getResultByGrade"/>
            <output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/getResultByGradeResponse" message="tns:getResultByGradeResponse"/>
            <fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/getResultByGrade/Fault/IOException"/>
        </operation>
        <operation name="RegisterResult">
            <input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/RegisterResultRequest" message="tns:RegisterResult"/>
            <output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleResult/RegisterResultResponse" message="tns:RegisterResultResponse"/>
        </operation>
    </portType>
    <binding name="ModuleResultPortBinding" type="tns:ModuleResult">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="Delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getResultById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
        </operation>
        <operation name="getResultByGrade">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
        </operation>
        <operation name="RegisterResult">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ModuleResult">
        <port name="ModuleResultPort" binding="tns:ModuleResultPortBinding">
            <soap:address location="http://localhost:8080/Competencias360Ws/ModuleResult"/>
        </port>
    </service>
</definitions>