Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleCharacteristic.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleCharacteristic">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleCharacteristic?xsd=1"/>
</xsd:schema>
</types>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="RegisterCharacteristic">
<part name="parameters" element="tns:RegisterCharacteristic"/>
</message>
<message name="RegisterCharacteristicResponse">
<part name="parameters" element="tns:RegisterCharacteristicResponse"/>
</message>
<message name="getByCcId">
<part name="parameters" element="tns:getByCcId"/>
</message>
<message name="getByCcIdResponse">
<part name="parameters" element="tns:getByCcIdResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="findByCcName">
<part name="parameters" element="tns:findByCcName"/>
</message>
<message name="findByCcNameResponse">
<part name="parameters" element="tns:findByCcNameResponse"/>
</message>
<portType name="ModuleCharacteristic">
<operation name="Delete">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="RegisterCharacteristic">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/RegisterCharacteristicRequest" message="tns:RegisterCharacteristic"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/RegisterCharacteristicResponse" message="tns:RegisterCharacteristicResponse"/>
</operation>
<operation name="getByCcId">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/getByCcIdRequest" message="tns:getByCcId"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/getByCcIdResponse" message="tns:getByCcIdResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/getByCcId/Fault/IOException"/>
</operation>
<operation name="findByCcName">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/findByCcNameRequest" message="tns:findByCcName"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/findByCcNameResponse" message="tns:findByCcNameResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCharacteristic/findByCcName/Fault/IOException"/>
</operation>
</portType>
<binding name="ModuleCharacteristicPortBinding" type="tns:ModuleCharacteristic">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterCharacteristic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByCcId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="findByCcName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ModuleCharacteristic">
<port name="ModuleCharacteristicPort" binding="tns:ModuleCharacteristicPortBinding">
<soap:address location="http://localhost:8080/Competencias360Ws/ModuleCharacteristic"/>
</port>
</service>
</definitions>