Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleJobs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleJobs">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleJobs?xsd=1"/>
</xsd:schema>
</types>
<message name="RegisterJob">
<part name="parameters" element="tns:RegisterJob"/>
</message>
<message name="RegisterJobResponse">
<part name="parameters" element="tns:RegisterJobResponse"/>
</message>
<message name="GetJobs">
<part name="parameters" element="tns:GetJobs"/>
</message>
<message name="GetJobsResponse">
<part name="parameters" element="tns:GetJobsResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="getJob">
<part name="parameters" element="tns:getJob"/>
</message>
<message name="getJobResponse">
<part name="parameters" element="tns:getJobResponse"/>
</message>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<portType name="ModuleJobs">
<operation name="RegisterJob">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/RegisterJobRequest" message="tns:RegisterJob"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/RegisterJobResponse" message="tns:RegisterJobResponse"/>
</operation>
<operation name="GetJobs">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/GetJobsRequest" message="tns:GetJobs"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/GetJobsResponse" message="tns:GetJobsResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/GetJobs/Fault/IOException"/>
</operation>
<operation name="getJob">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/getJobRequest" message="tns:getJob"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/getJobResponse" message="tns:getJobResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/getJob/Fault/IOException"/>
</operation>
<operation name="Delete">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobs/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
</portType>
<binding name="ModuleJobsPortBinding" type="tns:ModuleJobs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RegisterJob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetJobs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getJob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ModuleJobs">
<port name="ModuleJobsPort" binding="tns:ModuleJobsPortBinding">
<soap:address location="http://localhost:8080/Competencias360Ws/ModuleJobs"/>
</port>
</service>
</definitions>