Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleEvaluators.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleEvaluators">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleEvaluators?xsd=1"/>
</xsd:schema>
</types>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="RegisterEvaluators">
<part name="parameters" element="tns:RegisterEvaluators"/>
</message>
<message name="RegisterEvaluatorsResponse">
<part name="parameters" element="tns:RegisterEvaluatorsResponse"/>
</message>
<message name="GetEvaluators">
<part name="parameters" element="tns:GetEvaluators"/>
</message>
<message name="GetEvaluatorsResponse">
<part name="parameters" element="tns:GetEvaluatorsResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="setAllDates">
<part name="parameters" element="tns:setAllDates"/>
</message>
<message name="setAllDatesResponse">
<part name="parameters" element="tns:setAllDatesResponse"/>
</message>
<message name="GetEvaluatorById">
<part name="parameters" element="tns:GetEvaluatorById"/>
</message>
<message name="GetEvaluatorByIdResponse">
<part name="parameters" element="tns:GetEvaluatorByIdResponse"/>
</message>
<message name="GetEvaluatorByState">
<part name="parameters" element="tns:GetEvaluatorByState"/>
</message>
<message name="GetEvaluatorByStateResponse">
<part name="parameters" element="tns:GetEvaluatorByStateResponse"/>
</message>
<message name="GetEvaluatorByFeedBack">
<part name="parameters" element="tns:GetEvaluatorByFeedBack"/>
</message>
<message name="GetEvaluatorByFeedBackResponse">
<part name="parameters" element="tns:GetEvaluatorByFeedBackResponse"/>
</message>
<portType name="ModuleEvaluators">
<operation name="Delete">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="RegisterEvaluators">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/RegisterEvaluatorsRequest" message="tns:RegisterEvaluators"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/RegisterEvaluatorsResponse" message="tns:RegisterEvaluatorsResponse"/>
</operation>
<operation name="GetEvaluators">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorsRequest" message="tns:GetEvaluators"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorsResponse" message="tns:GetEvaluatorsResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluators/Fault/IOException"/>
</operation>
<operation name="setAllDates">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/setAllDatesRequest" message="tns:setAllDates"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/setAllDatesResponse" message="tns:setAllDatesResponse"/>
</operation>
<operation name="GetEvaluatorById">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorByIdRequest" message="tns:GetEvaluatorById"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorByIdResponse" message="tns:GetEvaluatorByIdResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorById/Fault/IOException"/>
</operation>
<operation name="GetEvaluatorByState">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorByStateRequest" message="tns:GetEvaluatorByState"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorByStateResponse" message="tns:GetEvaluatorByStateResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorByState/Fault/IOException"/>
</operation>
<operation name="GetEvaluatorByFeedBack">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorByFeedBackRequest" message="tns:GetEvaluatorByFeedBack"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorByFeedBackResponse" message="tns:GetEvaluatorByFeedBackResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluators/GetEvaluatorByFeedBack/Fault/IOException"/>
</operation>
</portType>
<binding name="ModuleEvaluatorsPortBinding" type="tns:ModuleEvaluators">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterEvaluators">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetEvaluators">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="setAllDates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetEvaluatorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetEvaluatorByState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetEvaluatorByFeedBack">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ModuleEvaluators">
<port name="ModuleEvaluatorsPort" binding="tns:ModuleEvaluatorsPortBinding">
<soap:address location="http://localhost:8080/Competencias360Ws/ModuleEvaluators"/>
</port>
</service>
</definitions>