Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleProcesoeva.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleProcesoeva">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleProcesoeva?xsd=1"/>
</xsd:schema>
</types>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="RegisterProcesova">
<part name="parameters" element="tns:RegisterProcesova"/>
</message>
<message name="RegisterProcesovaResponse">
<part name="parameters" element="tns:RegisterProcesovaResponse"/>
</message>
<message name="getProcesova">
<part name="parameters" element="tns:getProcesova"/>
</message>
<message name="getProcesovaResponse">
<part name="parameters" element="tns:getProcesovaResponse"/>
</message>
<message name="GetProcesos">
<part name="parameters" element="tns:GetProcesos"/>
</message>
<message name="GetProcesosResponse">
<part name="parameters" element="tns:GetProcesosResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="setDates">
<part name="parameters" element="tns:setDates"/>
</message>
<message name="setDatesResponse">
<part name="parameters" element="tns:setDatesResponse"/>
</message>
<portType name="ModuleProcesoeva">
<operation name="Delete">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="RegisterProcesova">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/RegisterProcesovaRequest" message="tns:RegisterProcesova"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/RegisterProcesovaResponse" message="tns:RegisterProcesovaResponse"/>
</operation>
<operation name="getProcesova">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/getProcesovaRequest" message="tns:getProcesova"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/getProcesovaResponse" message="tns:getProcesovaResponse"/>
</operation>
<operation name="GetProcesos">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/GetProcesosRequest" message="tns:GetProcesos"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/GetProcesosResponse" message="tns:GetProcesosResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/GetProcesos/Fault/IOException"/>
</operation>
<operation name="setDates">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/setDatesRequest" message="tns:setDates"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleProcesoeva/setDatesResponse" message="tns:setDatesResponse"/>
</operation>
</portType>
<binding name="ModuleProcesoevaPortBinding" type="tns:ModuleProcesoeva">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterProcesova">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProcesova">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetProcesos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="setDates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ModuleProcesoeva">
<port name="ModuleProcesoevaPort" binding="tns:ModuleProcesoevaPortBinding">
<soap:address location="http://localhost:8080/Competencias360Ws/ModuleProcesoeva"/>
</port>
</service>
</definitions>