Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleEvaluatorResult.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleEvaluatorResult">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleEvaluatorResult?xsd=1"/>
</xsd:schema>
</types>
<message name="RegisterEvaluatorResult">
<part name="parameters" element="tns:RegisterEvaluatorResult"/>
</message>
<message name="RegisterEvaluatorResultResponse">
<part name="parameters" element="tns:RegisterEvaluatorResultResponse"/>
</message>
<message name="getEvaluatorResultByGrade">
<part name="parameters" element="tns:getEvaluatorResultByGrade"/>
</message>
<message name="getEvaluatorResultByGradeResponse">
<part name="parameters" element="tns:getEvaluatorResultByGradeResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="getEvaluatorResultById">
<part name="parameters" element="tns:getEvaluatorResultById"/>
</message>
<message name="getEvaluatorResultByIdResponse">
<part name="parameters" element="tns:getEvaluatorResultByIdResponse"/>
</message>
<portType name="ModuleEvaluatorResult">
<operation name="RegisterEvaluatorResult">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/RegisterEvaluatorResultRequest" message="tns:RegisterEvaluatorResult"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/RegisterEvaluatorResultResponse" message="tns:RegisterEvaluatorResultResponse"/>
</operation>
<operation name="getEvaluatorResultByGrade">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/getEvaluatorResultByGradeRequest" message="tns:getEvaluatorResultByGrade"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/getEvaluatorResultByGradeResponse" message="tns:getEvaluatorResultByGradeResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/getEvaluatorResultByGrade/Fault/IOException"/>
</operation>
<operation name="Delete">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="getEvaluatorResultById">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/getEvaluatorResultByIdRequest" message="tns:getEvaluatorResultById"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/getEvaluatorResultByIdResponse" message="tns:getEvaluatorResultByIdResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleEvaluatorResult/getEvaluatorResultById/Fault/IOException"/>
</operation>
</portType>
<binding name="ModuleEvaluatorResultPortBinding" type="tns:ModuleEvaluatorResult">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RegisterEvaluatorResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvaluatorResultByGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvaluatorResultById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ModuleEvaluatorResult">
<port name="ModuleEvaluatorResultPort" binding="tns:ModuleEvaluatorResultPortBinding">
<soap:address location="http://localhost:8080/Competencias360Ws/ModuleEvaluatorResult"/>
</port>
</service>
</definitions>