Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleWorkers.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleWorkers">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleWorkers?xsd=1"/>
</xsd:schema>
</types>
<message name="Register">
<part name="parameters" element="tns:Register"/>
</message>
<message name="RegisterResponse">
<part name="parameters" element="tns:RegisterResponse"/>
</message>
<message name="Active">
<part name="parameters" element="tns:Active"/>
</message>
<message name="ActiveResponse">
<part name="parameters" element="tns:ActiveResponse"/>
</message>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="ResetAccontPassword">
<part name="parameters" element="tns:ResetAccontPassword"/>
</message>
<message name="ResetAccontPasswordResponse">
<part name="parameters" element="tns:ResetAccontPasswordResponse"/>
</message>
<message name="GetUsuarios">
<part name="parameters" element="tns:GetUsuarios"/>
</message>
<message name="GetUsuariosResponse">
<part name="parameters" element="tns:GetUsuariosResponse"/>
</message>
<message name="IsActiveWorker">
<part name="parameters" element="tns:IsActiveWorker"/>
</message>
<message name="IsActiveWorkerResponse">
<part name="parameters" element="tns:IsActiveWorkerResponse"/>
</message>
<message name="IsTempPassword">
<part name="parameters" element="tns:IsTempPassword"/>
</message>
<message name="IsTempPasswordResponse">
<part name="parameters" element="tns:IsTempPasswordResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="IsAnAdmin">
<part name="parameters" element="tns:IsAnAdmin"/>
</message>
<message name="IsAnAdminResponse">
<part name="parameters" element="tns:IsAnAdminResponse"/>
</message>
<portType name="ModuleWorkers">
<operation name="Register">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/RegisterRequest" message="tns:Register"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/RegisterResponse" message="tns:RegisterResponse"/>
</operation>
<operation name="Active">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/ActiveRequest" message="tns:Active"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/ActiveResponse" message="tns:ActiveResponse"/>
</operation>
<operation name="Delete">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/getUsuarioResponse" message="tns:getUsuarioResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/getUsuario/Fault/IOException"/>
</operation>
<operation name="ResetAccontPassword">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/ResetAccontPasswordRequest" message="tns:ResetAccontPassword"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/ResetAccontPasswordResponse" message="tns:ResetAccontPasswordResponse"/>
</operation>
<operation name="GetUsuarios">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/GetUsuariosRequest" message="tns:GetUsuarios"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/GetUsuariosResponse" message="tns:GetUsuariosResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/GetUsuarios/Fault/IOException"/>
</operation>
<operation name="IsActiveWorker">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/IsActiveWorkerRequest" message="tns:IsActiveWorker"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/IsActiveWorkerResponse" message="tns:IsActiveWorkerResponse"/>
</operation>
<operation name="IsTempPassword">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/IsTempPasswordRequest" message="tns:IsTempPassword"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/IsTempPasswordResponse" message="tns:IsTempPasswordResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="IsAnAdmin">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/IsAnAdminRequest" message="tns:IsAnAdmin"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleWorkers/IsAnAdminResponse" message="tns:IsAnAdminResponse"/>
</operation>
</portType>
<binding name="ModuleWorkersPortBinding" type="tns:ModuleWorkers">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Active">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="ResetAccontPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="IsActiveWorker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IsTempPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IsAnAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ModuleWorkers">
<port name="ModuleWorkersPort" binding="tns:ModuleWorkersPortBinding">
<soap:address location="http://localhost:8080/Competencias360Ws/ModuleWorkers"/>
</port>
</service>
</definitions>