Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleCompetences.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleCompetences">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleCompetences?xsd=1"/>
</xsd:schema>
</types>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="RegisterCompetences">
<part name="parameters" element="tns:RegisterCompetences"/>
</message>
<message name="RegisterCompetencesResponse">
<part name="parameters" element="tns:RegisterCompetencesResponse"/>
</message>
<message name="GetCompetences">
<part name="parameters" element="tns:GetCompetences"/>
</message>
<message name="GetCompetencesResponse">
<part name="parameters" element="tns:GetCompetencesResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="GetCompetence">
<part name="parameters" element="tns:GetCompetence"/>
</message>
<message name="GetCompetenceResponse">
<part name="parameters" element="tns:GetCompetenceResponse"/>
</message>
<portType name="ModuleCompetences">
<operation name="Delete">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="RegisterCompetences">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/RegisterCompetencesRequest" message="tns:RegisterCompetences"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/RegisterCompetencesResponse" message="tns:RegisterCompetencesResponse"/>
</operation>
<operation name="GetCompetences">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/GetCompetencesRequest" message="tns:GetCompetences"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/GetCompetencesResponse" message="tns:GetCompetencesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/GetCompetences/Fault/IOException"/>
</operation>
<operation name="GetCompetence">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/GetCompetenceRequest" message="tns:GetCompetence"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/GetCompetenceResponse" message="tns:GetCompetenceResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleCompetences/GetCompetence/Fault/IOException"/>
</operation>
</portType>
<binding name="ModuleCompetencesPortBinding" type="tns:ModuleCompetences">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterCompetences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCompetences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetCompetence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ModuleCompetences">
<port name="ModuleCompetencesPort" binding="tns:ModuleCompetencesPortBinding">
<soap:address location="http://localhost:8080/Competencias360Ws/ModuleCompetences"/>
</port>
</service>
</definitions>