Competencias360/src/wsdl/localhost_8080/Competencias360Ws/ModuleJobsCompetences.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.tareaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.tareaws.una.ac.cr/" name="ModuleJobsCompetences">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.tareaws.una.ac.cr/" schemaLocation="http://localhost:8080/Competencias360Ws/ModuleJobsCompetences?xsd=1"/>
</xsd:schema>
</types>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="RegisterJobCompetences">
<part name="parameters" element="tns:RegisterJobCompetences"/>
</message>
<message name="RegisterJobCompetencesResponse">
<part name="parameters" element="tns:RegisterJobCompetencesResponse"/>
</message>
<message name="getJobCompetenceIDJob">
<part name="parameters" element="tns:getJobCompetenceIDJob"/>
</message>
<message name="getJobCompetenceIDJobResponse">
<part name="parameters" element="tns:getJobCompetenceIDJobResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="getJobCompetenceId">
<part name="parameters" element="tns:getJobCompetenceId"/>
</message>
<message name="getJobCompetenceIdResponse">
<part name="parameters" element="tns:getJobCompetenceIdResponse"/>
</message>
<message name="GetJobCompetences">
<part name="parameters" element="tns:GetJobCompetences"/>
</message>
<message name="GetJobCompetencesResponse">
<part name="parameters" element="tns:GetJobCompetencesResponse"/>
</message>
<portType name="ModuleJobsCompetences">
<operation name="Delete">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="RegisterJobCompetences">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/RegisterJobCompetencesRequest" message="tns:RegisterJobCompetences"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/RegisterJobCompetencesResponse" message="tns:RegisterJobCompetencesResponse"/>
</operation>
<operation name="getJobCompetenceIDJob">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/getJobCompetenceIDJobRequest" message="tns:getJobCompetenceIDJob"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/getJobCompetenceIDJobResponse" message="tns:getJobCompetenceIDJobResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/getJobCompetenceIDJob/Fault/IOException"/>
</operation>
<operation name="getJobCompetenceId">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/getJobCompetenceIdRequest" message="tns:getJobCompetenceId"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/getJobCompetenceIdResponse" message="tns:getJobCompetenceIdResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/getJobCompetenceId/Fault/IOException"/>
</operation>
<operation name="GetJobCompetences">
<input wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/GetJobCompetencesRequest" message="tns:GetJobCompetences"/>
<output wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/GetJobCompetencesResponse" message="tns:GetJobCompetencesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.tareaws.una.ac.cr/ModuleJobsCompetences/GetJobCompetences/Fault/IOException"/>
</operation>
</portType>
<binding name="ModuleJobsCompetencesPortBinding" type="tns:ModuleJobsCompetences">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterJobCompetences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getJobCompetenceIDJob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getJobCompetenceId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetJobCompetences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ModuleJobsCompetences">
<port name="ModuleJobsCompetencesPort" binding="tns:ModuleJobsCompetencesPortBinding">
<soap:address location="http://localhost:8080/Competencias360Ws/ModuleJobsCompetences"/>
</port>
</service>
</definitions>